@page "/publicidad"

<div class="w-96 h-96 flex justify-start items-center gap-40">
    <div class="flex-col justify-start items-start gap-4">
      <div class="p-2.5 flex justify-start items-start gap-2.5">
            <div class="text-black text-lg font-extrabold">SOS PROPIETARIO?<br/>CREA TU PROPIA EXPERIENCIA DE VENTA</div>
</div>

        <div class="w-96 p-2.5 flex justify-start items-start gap-2.5">
            <div class="flex-grow flex-shrink flex-basis-0">
                <span class="text-zinc-500 text-xl font-normal">Regitsra tu Propiedad y ve en tiempo real que pasa con ella </span>
                <span class="text-zinc-500 text-xl font-normal"></span>
                <span class="text-zinc-500 text-xl font-normal"></span>
            </div>
        </div>
    </div>
    <div class="w-96 h-96 relative">
        <!-- Aquí van las imágenes... -->
        <!-- Recuerda ajustar las clases y estilos según tu necesidad -->
    </div>
</div>
